*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background: rgb(250, 247, 247);
}

.resumeDiv{
    width: 70%;
    padding: 0%;
    border: 2px solid rgba(48, 28, 163, 0.918);
}
header{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background: linear-gradient(rgb(11, 232, 240) ,rgba(16, 128, 53, 0.712) );
    margin-bottom: 1px;
}
.white{
    color:white;
}

header img{
    width: 150px;
    height: 160px;
    border-radius: 50%;
}
.content{
    width: 100%;
    display: flex;  
}

.content aside{
    width: 30%;
    padding-bottom: 60px;
    background-color: #fffcfc49;
}

.content{
    margin-bottom: 0px;
    padding: 2%;
}

.Contact,
.education,
.skills,
.language{
    margin-bottom: 25px;
}


.Contact h2,
.education h2,
.skills h2,
.language h2,
.experience h2,
.reference h2{
    border-bottom: 3px solid rgba(2, 7, 12, 0.76);
    margin-bottom: 20px;
    padding: 5px;
    color: rgba(34, 42, 107, 0.76);
    background-color: rgba(white);   
}

.education{
    line-height: 20px;
}

.skills ul{
    margin-left: 19px;
}

.main-content{
    width: 70%;
    padding-left: 50px;
    background-color: white;
}

.experience-items{
    margin-bottom: 57px;
}
.experience-items p{
    margin-bottom: 5.7px;
}

.experience-items ul{
    margin-left: 18px;
    margin-top: 15px;
}

.btnDiv{
    width: 70%;
    padding: 2%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    margin-top: 10px;
}
.btn{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 8px;
    color: white;
    background-color: rgb(42, 149, 163);
    cursor: pointer;


    &:hover{
        background: rgb(50, 77, 49);
        
    }
    &:active{
        transform: scale(0.95);
    }

}


@media (max-width:786px){
    .content{
        flex-direction: column ;
    }
     aside, .main content  {width: 100%;
     }    
}